:root {
  /* ! FONT-SIZE ! */
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;

  /* ! FONT-COLOR ! */
  --font-color-dark-1: 33, 33, 33;
  --font-color-dark-2: 66, 66, 66;
  --font-color-dark-3: 97, 97, 97;
  --font-color-dark-4: 117, 117, 117;
  --font-color-dark-5: 158, 158, 158;
  --font-color-dark-6: 189, 189, 189;

  --font-color-bright-1: 250, 250, 250;
  --font-color-bright-2: 245, 245, 245;
  --font-color-bright-3: 238, 238, 238;
  --font-color-bright-4: 224, 224, 224;

  --font-color-error: 255, 0, 0;
  --font-color-success: 0, 255, 0;

  /* ! BACKGROUND-COLOR ! */
  --background-color-dark-1: 33, 33, 33;
  --background-color-dark-2: 66, 66, 66;
  --background-color-dark-3: 97, 97, 97;
  --background-color-dark-4: 117, 117, 117;
  --background-color-dark-5: 158, 158, 158;
  --background-color-dark-6: 189, 189, 189;

  --background-color-bright-1: 250, 250, 250;
  --background-color-bright-2: 245, 245, 245;
  --background-color-bright-3: 238, 238, 238;
  --background-color-bright-4: 224, 224, 224;
}

@media screen and (min-width: 800px) {
  :root {
    /* ! FONT-SIZE ! */
    --font-size-1: 1rem;
    --font-size-2: 1.333rem;
    --font-size-3: 1.777rem;
    --font-size-4: 2.369rem;
    --font-size-5: 3.157rem;
    --font-size-6: 4.209rem;
  }
}

html {
  font-size: 62.5%;
  font-family: "Open Sans Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: #424242 #212121;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #212121;
}

*::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 10px;
  border: 0px none #212121;
}

body {
  overflow-x: hidden;
  background-color: rgb(var(--background-color-dark-1));
}

h1 {
  font-size: var(--font-size-6);
}
h2 {
  font-size: var(--font-size-5);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
h5 {
  font-size: var(--font-size-2);
}
h6 {
  font-size: var(--font-size-1);
}

a,
p {
  text-decoration: none;
  color: rgb(var(--font-color-dark-6));
}
